It is an object to transverse inside the sequence of the data without storing in the memory.  
w=When iterable is passed through iter() generates iterator.  
Every Iterable has an iter function
Every Iterator has both iter function as well as a next function

In [2]:
num = [1,2,3]

# fetch the iterator
iter_num = iter(num)

# step2 --> next
next(iter_num)
next(iter_num)
next(iter_num)

3

In [6]:
def mera_khudka_for_loop(iterable):
    
    iterator = iter(iterable)
    
    while True:
        
        try:
            print(next(iterator))
        except StopIteration:
            break           
a = [1,2,3]
b = range(1,11)
c = (1,2,3)
d = {1,2,3}
e = {0:1,1:1}

mera_khudka_for_loop(a)
print()
mera_khudka_for_loop(b)
print()
mera_khudka_for_loop(c)
print()
mera_khudka_for_loop(d)
print()
mera_khudka_for_loop(e)

1
2
3

1
2
3
4
5
6
7
8
9
10

1
2
3

1
2
3

0
1

In [8]:
# Jab hum iterable ke upar iter chalate hai to iterator milta hai
# Jab hum iterator ke upar iter chalate hai to bhi iterator milta hai jo wo khud hai

num = [1,2,3]
iter_obj = iter(num)

print(id(iter_obj),'Address of iterator 1')

iter_obj2 = iter(iter_obj)
print(id(iter_obj2),'Address of iterator 2')

3020264145632 Address of iterator 1
3020264145632 Address of iterator 2

# GENERATORS

In [11]:
def gen_demo():
    yield "First Statement"
    yield "Second Statement"
    yield "Third Statement"

gen = gen_demo()
print(gen)
# print(next(gen))
for i in gen:
    print(i)

<generator object gen_demo at 0x000002BF35DB5BC0>
First Statement
Second Statement
Third Statement

In [12]:
def square(num):
    for i in range(1,num+1):
        yield i**2
gen = square(10)

print(next(gen))
print(next(gen))
print(next(gen))

for i in gen:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [13]:
def mera_range(start,end):
    
    for i in range(start,end):
        yield i
for i in mera_range(15,26):
    print(i)

15
16
17
18
19
20
21
22
23
24
25

In [14]:
L = [i**2 for i in range(1,101)]
gen = (i**2 for i in range(1,101))

for i in gen:
    print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

In [16]:
def fibonacci_numbers(nums):
    x, y = 0, 1
    for _ in range(nums):
        x, y = y, x+y
        yield x

def square(nums):
    for num in nums:
        yield num**2

print(sum(square(fibonacci_numbers(10))))

4895