In [2]:
from itertools import count
from math import *

#### ADDITION OF ALL STRINGS USING '+'

a = "I am Dancing" + "2" + 3   
print(a)
#### Error: can only concatenate str (not "int") to str

In [49]:
b = "Happy" + "2"
print(b) # Happy2

Happy2

In [37]:
a = "WS"
b = "yes"
c = a+b
print(c)

WSyes

#### REPLICATION OPERATOR

In [38]:
print(2*"Happy")
print("#"*5)

HappyHappy
#####

#### IN & NOT IN

In [39]:
print("S" in "Happy")
print("h" in "Happy")
print("y" not in "Happy")
print("Y" not in "Happy")
print("a" in "Happy")

False
False
False
True
True

In [40]:
greater = "a" if "a">"A" else "A"
print(greater)

a

In [41]:
first_variable = "Haanji Good morning"
second_variable = "Leval Sabke niklenge"
print("Hello World" +" " + first_variable) # Hello World Haanji Good morning
print(second_variable.upper()) # LEVAL SABKE NIKLENGE
print(len(first_variable)) # 19
print(second_variable[10]) # e
print(first_variable.index("G")) # 7
print(first_variable.isupper()) # False

Hello World Haanji Good morning
LEVAL SABKE NIKLENGE
19
e
7
False

#### SEP & END

In [42]:
print("My name is Aarya.","Gupta is my surname") 
print("My name is Aarya.","Gupta is my surname", sep=None) 
print("My name is Aarya.","Gupta is my surname", sep='+') 

print('Printing mutiple points', end='\n * ')
print('Statement 1', end='\n * ')
print('Statement 2', end='\n * ')
print('Statement 3 \n * ')
print('new line', end=None)

My name is Aarya. Gupta is my surname
My name is Aarya. Gupta is my surname
My name is Aarya.+Gupta is my surname
Printing mutiple points
 * Statement 1
 * Statement 2
 * Statement 3
 *
new line

#### FUNCTIONS FOR STRING MANIPULATION
isalnum(): True if all characters are letters & numbers else false if anyone is special charactor including space  
isalpha(): True if only alphabets are there  
isdigit(): True if only digits  
isspace(): True if all characters are whitespaces  
lstrip(): Returns left trim version of string  
rstrip(): Returns right trim version of string  
title(): Converts first character of each word in uppercase   
istitle(): True if first character of each word is upper   
strip(): Returns trim version of string  
startswith(): True if starts with specified value  
endswith(): True if ends with specified value  
replace(): specified value is replaced by a specified value  
join(): Join the elements of the iterable to the end of string  
split(): Returns a list at the specified seperator  
partition(): Returns a tuple where a string is divided into three parts

In [81]:
from itertools import count
from math import *
word = "    I am Aarya Gupta"
print(word)
print(len(word))
print(word.count("m"))
print(word.find("a"))
print(word.isalnum())
print(word.strip())
print(word.title())
print(word.index("u"))

    I am Aarya Gupta
20
1
6
False
I am Aarya Gupta
    I Am Aarya Gupta
16

In [47]:
from itertools import count
from math import *

word1 = "Aarya"
word2 = 'Gupta'
word3 = '''Happy'''
word4 = """Dance"""

print(word1)
print(word2)
print(word3)
print(word4)

Aarya
Gupta
Happy
Dance

In [48]:
word1 = "Happy"
for char in word1:
    print(char)

H
a
p
p
y

In [54]:
word1 = "Dance"
length = len(word1)
for char in range(length-1,-1,-1):
    print(word1[char])

e
c
n
a
D

In [78]:
word1 = "Dance"
print(word1[0:])
print(word1[-1])
print(word1[:len(word1)])
print(word1[len(word1):0:-1])

Dance
e
Dance
ecna

In [82]:
word1 = " "
word2 = " abc "
print(word1.isspace())
print(word2.isspace())

True
False

In [7]:
word1 = "i am Aarya Gupta"
print(word1.title())
print(word1.istitle())
print(word1.replace("Aarya","Chiya"))

I Am Aarya Gupta
False
i am Chiya Gupta

In [1]:
t = ["I", "am", "Aarya", "Gupta"] # A list
word1 = "-".join(t)
print(word1)

print(":".join(t))

# Sample list of words
words = ["Hello", "World", "in", "Python"]

# Using str.join(iterable) for joining
joined_string = " ".join(words)
print("Joined string:", joined_string)

I-am-Aarya-Gupta
I:am:Aarya:Gupta
Joined string: Hello World in Python

#### 5: str.translate()

**Description**: translate() is used for mapping characters in a string to other characters. It requires a translation table using str.maketrans() to specify mappings between characters.

**Usage**: Useful for more complex character replacements or transformations where specific mappings or translations are required.

In [3]:
# Sample text with mixed case and punctuation
text = "HeLLo! HOw aRe yOu?"

# Define translation mapping
mapping = {
    'H': 'h',
    'L': 'l',
    'O': 'o',
    '!': '',
}

# Create translation table using str.maketrans()
translation_table = str.maketrans(mapping)

# Use translate() with the translation table
translated_text = text.translate(translation_table)

print("Original Text:", text)
print("Translated Text:", translated_text)

# use replace!!!
text.replace("O", "o")

Original Text: HeLLo! HOw aRe yOu?
Translated Text: hello how aRe you?

'HeLLo! How aRe you?'

In [17]:
word1 = "I am Aarya Gupta"
y = word1.split() # Splits into a list
w = word1.partition("am") # Splits that specified value in a tuple
print(w)
print(y)

print(word1.split())
print(word1.partition("am"))

('I ', 'am', ' Aarya Gupta')
['I', 'am', 'Aarya', 'Gupta']
['I', 'am', 'Aarya', 'Gupta']
('I ', 'am', ' Aarya Gupta')